* {
    padding: 0;
    margin: 0;
    appearance: none;
    text-decoration: none;
    color: #222;
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}
button {
    border: 0;
}
/* https://traveller.talrop.works/api/v1/places/categories/
https://traveller.talrop.works/api/v1/places/ */
. {
}
/* Font Family :poppins
link:https://www.fontspace.com/poppins-font-f32764

Font Size - 
H1 :20px
H2 :16px
H3 :14px
H4 :12px

Colours -
Black:000000
Grey:9E9696
Blue:5C75FB
Blue dark:1C40FA
Green :0BD752
Green circle:59F195
White :F8FAFB */